.animated {
  transition: all 2s ease-in;
}

html, body, .page-wrap {
  height: 100%;
  background: #7B68EE;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

body, a, p {
  text-decoration: none;
  font-weight: bold;  
  color: aliceblue;
}

a {    
  transition: all 0.3s ease-in-out;
}

.page-wrap {
  position: relative;
  min-height: 100%;
  margin-bottom: -115px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.main-footer, .page-wrap:after {  
  height: 115px;  
}

.main-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;  
  z-index: 1;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.nav-list {
/*  margin-top: 20px;*/
  text-align: right;
  list-style: none;
  font-size: 0;
}

.nav-list .nav-list__item {
  display: inline-block;
  font-size: 16px;
}

.nav-list a {
  padding: 20px 15px;
  line-height: 4;
  font-weight: 200;
/*  font-style: italic;*/
  text-transform: uppercase;
  color: #1b75e3;
  color: rgba(27, 227, 227, 1);
}

.nav-list a:hover {
  color: rgba(127, 227, 227, 1);
  background: rgba(227, 227, 227,.1);
}

#home {
  margin-bottom: -130px;
  min-height: 100vh;
  background: 
    linear-gradient(90deg, 
transparent 50%, rgba(0, 0, 0, .4) 50% 
) center center / 2px,
    linear-gradient(to top, rgba(50, 50, 120, .75), rgba(65, 65, 120, .5));
  position: relative;
}

#home::after {
  content: "";
  background: url(../img/rtrs-main-back_.jpg) top no-repeat;
  background-size: cover;
  opacity: 0.13;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0; 
}

.greeting {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 800px;
  text-align: center;
  z-index: 1;
}

.greeting__title {
  margin: 0 auto;
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  line-height: 1.15;
  color: rgba(27, 227, 177, 1);
  text-shadow: 
    0 5px 10px rgba(10, 10, 10, .5);
}

.greeting__title .big-text {
  font-size: 1.8em;
}

.main-footer {
  position: relative;
  text-align: center;
  color: #F1F1F1;
  text-shadow: 0 1px 2px rgba(10, 10, 10, .5);
  line-height: 1.5;
}

.main-footer p {
  margin: 0;
}

.main-footer .email {
  color: #7B68EE;
}

.main-footer a:hover {
  color: #FE0C48;
  cursor: pointer;
}