$btn-color: #167fe8;
$gradient-color: #003c7b;
$shadow-color: rgba(0,0,0,0.6);
$alert-btn-color: adjust-hue($btn-color, 180);

.primary-btn {
  border: 2px solid darken($btn-color, 50);
  border-radius: 60px;
  background-image: radial-gradient(center center, cover, $btn-color, darken($btn-color, 10));
  box-shadow: 0 4px 5px $shadow-color, inset 1px 1px 40px $shadow-color;
}

.alert-btn {
  border: 2px solid darken($alert-btn-color, 50);
  border-radius: 60px;
  background-image: radial-gradient(center center, cover, $alert-btn-color, darken($alert-btn-color, 10));
  box-shadow: 0 4px 5px $shadow-color, inset 1px 1px 40px $shadow-color;
}
