//-----------colors---------------
$theme-color-main: #27139e;
$theme-color-cold-light: whitesmoke;
$theme-color-warm-light: floralwhite;
$theme-font-color-dark: #1f2f4f;
$theme-font-color-light: $theme-color-warm-light;

//-----------fonts----------------
$theme-font-main: "PT_Serif", "Georgia", serif;
$theme-font-large-cursive: "Lobster", "Georgia", serif;
$theme-font-sans-serif: "Open_Sans", "Arial", sans-serif;
