@font-face {
  font-family: 'Marck_Script';
  src: url('../../fonts/Marck_Script/marckscript-regular-webfont.woff2') format('woff2'),
  url('../../fonts/Marck_Script/marckscript-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
