$btn_color: #167fe8;
$gradient_color: #003c7b;
$shadow_color: rgba(0,0,0,0.6);
$alert_btn_color: spin($btn_color, 180deg);

.primary-btn {
  border: 2px solid darken($btn_color, 50%);
  border-radius: 60px;
  background-image: radial-gradient(center center, cover, $btn_color, darken($btn_color, 10%));
  box-shadow: 0 4px 5px $shadow_color, inset 1px 1px 40px $shadow_color;
}

.alert-btn {
  @extend .primary-btn;
  border: 2px solid darken($alert_btn_color, 50%);
  background-image: radial-gradient(center center, cover, $alert_btn_color, darken($alert_btn_color, 10%));
}