.greeting {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  background:
    -webkit-linear-gradient(left, transparent 50%, rgba($theme-color-main, .8) 50%),
    -webkit-linear-gradient(bottom, rgba(50, 50, 120, .8), rgba(65, 65, 120, .5)),
    url("../img/rtrs-main-back.jpg") top center;
  background-blend-mode: initial;
  background-size: 2px, cover, cover;
  background-color: $theme-color-main;
}

.greeting__title {
  margin: 1.5em auto 0;
  font-family: $theme-font-large-cursive;
  font-size: 150px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: $theme-color-warm-light;
  text-shadow: 0 2px 5px darken(floralwhite, 15),
  0 8px 10px darken($theme-color-main, 20);
}

.greeting__title--big {
  font-size: 2em;
}
