.main-footer {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: $theme-font-color-light;
  text-shadow: 0 1px 2px rgba(10, 10, 10, .5);
  line-height: 1.5;
  background: rgba(50, 50, 120, 1);
}

.main-footer__section {
  margin: 5px 0;
}

.main-footer__text {
  margin: 0;
  color: $theme-font-color-light;
}

.main-footer__link {
  color: $theme-font-color-light;

  &--email {
    color: #7B68EE;
  }
}

.main-footer__link:hover {
  color: #FE0C48;
  cursor: pointer;
}
